<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">


  <servlet>
    <servlet-name>Log_act</servlet-name>
    <servlet-class>Log_act</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>year_act</servlet-name>
    <servlet-class>year_act</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Slog_act</servlet-name>
    <servlet-class>Slog_act</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>super_act</servlet-name>
    <servlet-class>super_act</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>logout</servlet-name>
    <servlet-class>logout</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Log_act</servlet-name>
    <url-pattern>/Log_act</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>year_act</servlet-name>
    <url-pattern>/year_act</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Slog_act</servlet-name>
    <url-pattern>/Slog_act</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>super_act</servlet-name>
    <url-pattern>/super_act</url-pattern>
  </servlet-mapping>
    <servlet-mapping>
    <servlet-name>logout</servlet-name>
    <url-pattern>/logout</url-pattern>
  </servlet-mapping>
</web-app>